.heroSection {
  height: auto;
}

.heroImageContainer {
  max-width: 100%;
  height: 55vh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heroImageContainer h1 {
  font-size: 1.8rem;
}

.heroImage {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.heroContent {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0 3rem 0;
  color: white;
  text-align: center;
}
.heroQuote {
  position: relative;
  z-index: 3;
  color: white;
  width: 35rem;
  margin: 0 auto;
}
.heroQuote p {
  font-size: 1.1rem;
  text-align: center;
  
}